{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'matches/bootstrap.min.css' %}">
    {% bootstrap_javascript %}
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% block content %}
        <p>Welcome to my site!</p>
        {% endblock %}
    </main>

    <nav>
        <a href="/">Home</a> |
        <a href="/about/">About</a> |
        <a href="/contact/">Contact</a>
    </nav>
    <footer>
        <p>&copy; 2025 Caleb Hostetler</p>
    </footer>
</body>
</html>
