<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load django_bootstrap5 %}

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'matches/bootstrap.min.css' %}">
    {% bootstrap_javascript %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> -->
    <script src="https://kit.fontawesome.com/1f04a156b8.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <main>
        <div class="d-flex flex-column align-items-center  justify-content-center">
            {% block content %}
            <p>Welcome to my site!</p>
            {% endblock %}
        </div>
    </main>

    <nav>
        <a href="/">Home</a> |
        <a href="/teams/">Teams</a> |
    </nav>
    <footer>
        <p>&copy; 2025 Caleb Hostetler</p>
    </footer>
</body>
</html>
