{% extends "base.html" %}

{% block title %}Home - My Site{% endblock %}

{% block content %}
<p>Welcome to the home page for the invitational tournament! Here's some things you can do:</p>

<div class="row row-cols-1 row-cols-md-3 g-4"> 
  <div class="col d-flex align-items-stretch"> 
    <div class="card">
      <h5 class="card-title m-3"> View Matches </h5>
      <p class="card-body"> View upcoming and completed matches, sorted by time, bracket, or room </p>
      <a class="btn btn-primary m-3" href="{% url 'matches_list' %}"> Matches </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch"> 
    <div class="card">
      <h5 class="card-title m-3"> Find Teams </h5>
      <p class="card-body"> Find your team to determine where their matches will be </p>
      <a class="btn btn-primary m-3" href="{% url 'teams_list' %}"> Teams </a>
    </div>
  </div>
  <div class="col d-flex align-items-stretch"> 
    <div class="card">
      <h5 class="card-title m-3"> View Bracket </h5>
      <p class="card-body"> This functionality may or may not be coming soon. </p>
      <a class="btn btn-primary m-3"> Bracket </a>
    </div>
  </div>
</div>


{% endblock %}
