{% extends "base.html" %}

{% block title %} Matches {% endblock %}

{% block content %}

<a href="?format=timeslot" class="btn btn-primary m-1"> Group by start time </a>  
<a href="?format=bracket" class="btn btn-primary m-1"> Group by bracket </a> 
<a href="?format=room" class="btn btn-primary m-1"> Group by room </a>
<hr>

{% if user.is_staff %}
<a href="{% url 'match_create' %}" class="btn btn-success"> Add match </a>
{% endif %}

{% if request.GET.format == 'bracket'%}
    {% regroup incomplete_matches by bracket as round_list %}
{% elif request.GET.format == 'room' %}
    {% regroup incomplete_matches by room as round_list %}
{% else %}
    {% regroup incomplete_matches by timeslot as round_list %}
{% endif %}


<h3> Upcoming Matches </h3>
{% if incomplete_matches %}
{% for round in round_list %}
    <h4> {{round.grouper}} </h4>
    <div class="list-group" style="margin: 10px">
        {% for match in round.list %}
            {% include "scorebug-skinny.html" %}
        {% endfor %}
    </div>
{%endfor%}
{% endif %}

<h3> Completed Matches </h3>
{% if complete_matches %}
    <div class="list-group" style="margin: 10px">
        {% for match in complete_matches %}
            {% include "scorebug-result.html" %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
