{% extends "base.html" %}

{% block title %} Matches {% endblock %}

{% block content %}

<h3> Matches </h3>

{% if incomplete_matches %}

{% regroup incomplete_matches by tournament_round as round_list %}

{% for round in round_list %}
    <h4> Round: {{round.grouper}} </h4>
    <div class="list-group" style="margin: 10px">
        {% for match in round.list %}
            {% include "scorebug.html" %}
        {% endfor %}
    </div>
{%endfor%}
{% endif %}

{% if complete_matches %}
    <h4> Completed Matches </h4>
    <div class="list-group" style="margin: 10px">
        {% for match in complete_matches %}
            {% include "scorebug-skinny.html" %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
