<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Quizzing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'teams_list' %}">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'matches_list' %}">Matches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rooms_list' %}">Rooms</a>
        </li>

      </ul>
      {% if user.is_authenticated %}
      <div class="d-flex align-items-center navbar-text">
          Hello, {{ user.username }}!
          <span class="mx-2">|</span>
          <form method="post" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary border-0">
                  Logout
              </button>
          </form>
      </div>
      {% else %}
      <a class="btn btn-secondary btn-sm ms-2" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
