<div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto mb-3">
    <div class="card">
        {% if match.is_complete %}
        <h4 class="card-header text-primary bg-secondary"> 
        {% else %}
        <h4 class="card-header text-white bg-primary"> 
        {% endif %}
            <span> #{{ match.match_number }} </span>
            <span class='border badge rounded-pill bg-primary border-white'>
                <small>
                <i class="fa-solid fa-location-dot"></i> {{ match.room.name }} 
                </small>
            </span>
            {% if match.tournament_round %}
                <span class='badge border border-primary bg-secondary' style="text-decoration:none" href="{% url 'room_detail' match.room.id %}"> 
                    <small>
                    <i class="fa-solid fa-list"></i> {{ match.tournament_round.name }} 
                    </small>
                </a>
            {% endif %}
            <span class='border badge rounded-pill bg-primary border-white'> 
                <small>
                <i class="fa-solid fa-clock"></i> {{ match.start_time|date:"D. h:m a" }} 
                </small>
            </span> 
        </h4> 
        <table class="table table-bordered mb-0">
            <colgroup>
                <col style="width: 75%;">
                <col style="width: 25%;">
            <tbody>
                <tr class="{% if match.is_won_by_home_team %} table-success {% else %} table-default {% endif %}">
                    <td>
                        {% include "team-badge.html" with team=match.home_team %}
                    </td> 
                    <td class="text-center"> 
                        {% if match.home_score %}
                            {{ match.home_score }}
                        {% else %} 
                            TBD
                        {% endif %}
                    </td>
                </tr>
                <tr class="{% if match.is_won_by_away_team %} table-success {% else %} table-default {% endif %}">
                    <td>
                        {% include "team-badge.html" with team=match.away_team %}
                    </td> 
                    <td class="text-center"> 
                        {% if match.away_score %}
                            {{ match.away_score }}
                        {% else %} 
                            TBD
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-footer bg-light">
            <small> Winner goes to {{ match.winner_destination }} </small> <br>
            <small> Loser goes to {{ match.loser_destination }} </small>
        </div>
    </div>
</div>
