<div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto mb-3">
    <div class="card">
        <h4 class="card-header"> 
            <span> #{{ match.match_number }} </span>
            {% if match.room %}
            -
            <a class='' style="text-decoration:none" href="{% url 'room_detail' match.room.id %}">
                <small>
                <i class="fa-solid fa-location-dot"></i> {{ match.room.name }} 
                </small>
            </a>
            {% endif %}
            {% if match.tournament_round %}
            -
            <a class='' style="text-decoration:none" href="{% url 'room_detail' match.room.id %}"> 
                <small>
                <i class="fa-solid fa-list"></i> {{ match.tournament_round.name }} 
                </small>
            </a>
            {% endif %}
            {% if match.start_time %}
            -
            <span class=''> 
                <small>
                <i class="fa-solid fa-clock"></i> {{ match.start_time|date:"D. h:m a" }} 
                </small>
            </span> 
            {% endif %}
        </h4> 
        <table class="table table-bordered mb-0">
            <colgroup>
                <col style="width: 75%;">
                <col style="width: 25%;">
            <tbody>
                <tr class="{% if match.is_won_by_home_team %} table-success {% else %} table-default {% endif %}">
                    <td>
                        {% include "team-badge.html" with team=match.home_team %}
                    </td> 
                    <td class="text-center"> 
                        {% if match.home_score %}
                            {{ match.home_score }}
                        {% else %} 
                            TBD
                        {% endif %}
                    </td>
                </tr>
                <tr class="{% if match.is_won_by_away_team %} table-success {% else %} table-default {% endif %}">
                    <td>
                        {% include "team-badge.html" with team=match.away_team %}
                    </td> 
                    <td class="text-center"> 
                        {% if match.away_score %}
                            {{ match.away_score }}
                        {% else %} 
                            TBD
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="card-footer bg-light">
            {% if match.winner_destination %}
            <small> Winner goes to <a href="{% url 'match_detail' match.winner_destination.id %}" >{{ match.winner_destination }}</a> </small> <br>
            {% endif %}
            {% if match.loser_destination %}
            <small> Loser goes to <a href="{% url 'match_detail' match.loser_destination.id %}" >{{ match.loser_destination }}</a> </small> <br>
            {% endif %}
        </div>
    </div>
</div>
