{% extends "base.html" %}

{% block title %} {{ team.name }} {% endblock %}

{% block content %}

<h1> 
    <span style="color:{{ team.region.color }}"> {{ team.display_name }} </span> 
</h1>

<h3> 
    Region: 
    <a href="{% url 'region_detail' team.region.id %}"><span class="border badge text-primary" style="color:{{ team.region.color }}">{{ team.region }}</span></a> 
</h3>


{% if matches %}
    {% for match in matches %} 
        {% include "scorebug.html" %}
    {% endfor %}
{% else %} 
    <p>No matches for this team.</p>
{% endif %}



{% endblock %}
