{% extends "base.html" %}

{% block title %} {{ team.name }} {% endblock %}

{% block content %}

<h1> 
    <a href="{% url 'region_detail' team.region.id %}"><span class="badge" style="background-color:{{ team.region.color }}"> {{ team.name }} </span></a> 
</h1>

<h3> 
    Region: 
    <a href="{% url 'region_detail' team.region.id %}"><span class="border badge text-primary" style="border-color:{{ team.region.color }}"> {{ team.region }} </span></a> 
</h3>


{% if matchups %}
    {% for match in matchups %} 
        {% include "scorebug.html" %}
    {% endfor %}
{% else %} 
    <p>No matches for this team.</p>
{% endif %}



{% endblock %}
